<h1>Shorten a Link</h1>

<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag '/links', method: :post do %>
  <div>
    <%= label_tag :url %>
    <%= text_field_tag :url, @link.target_url %>
  </div>
  <%= submit_tag "Shorten" %>
<% end %>